small {
  background-color: yellow;
  color: #888;
  padding: 2px 4px;
}

code {
  padding: 0px 4px;
}

header, #flash, #comments, form {
  border: solid 1px #888;
  padding: 10px;
}

#comments, form, #new {
  margin-top: 1em;
}

p {
  margin: 0;
}