h1 {
  text-align: center;
}

small {
  display: block;
  font-style: italic;
  line-height: 1em;
  color: #888;
  padding: 2px 4px;
}

code {
  padding: 0px 0px;
  font-style: normal;
}

header, #flash, #comments, #books, form {
  border: dashed 3px #ddd;
  padding: 10px;
}

header, #notice, #flash, #comments, #books {
  margin-bottom: 1em;
}

#new, #new_book {
  margin-top: 1em;
}

p {
  margin: 0;
}
